.warp {
  width: 1500px;
  height: 2900px;
  background-color: black;
}

.header {
  position: relative;
  left: 110px;
  width: 1280px;
  height: 260px;
  background-color: lightgray;
}
.search {
  position: relative;
  top: 50px;
  left: 280px;
  width: 700px;
  height: 60px;
  background-color: lightgreen;
}
.icon-list {
  position: relative;
  top: 50px;
  left: 280px;
  width: 700px;
  height: 80px;
  background-color: lightseagreen;
}

.section {
  position: relative;
  left: 110px;
  top: 30px;
  width: 830px;
  height: 2200px;
  float: left;
  background-color: gray;
}
.ad_board {
  height: 130px;
  background-color: blue;
}
.news_board {
  height: 430px;
  background-color: aqua;
}
.container {
  position: relative;
  top: 15px;
  height: 560px;
  background-color: aquamarine;
}
.feed {
  position: relative;
  top: 30px;
  height: 1050px;
  background-color: skyblue;
}

.article {
  position: relative;
  right: 110px;
  top: 30px;
  width: 420px;
  height: 1800px;
  float: right;
  background-color: bisque;
}
.login {
  position: relative;
  top: 14px;
  height: 160px;
  background-color: brown;
}
.main_ad {
  position: relative;
  top: 28px;
  height: 240px;
  background-color: orangered;
}
.board1 {
  position: relative;
  top: 42px;
  height: 240px;
  background-color: yellow;
}
.board2 {
  position: relative;
  top: 56px;
  height: 240px;
  background-color: lightcoral;
}
.board3 {
  position: relative;
  top: 70px;
  height: 790px;
  background-color: lightsalmon;
}
.board4 {
  position: relative;
  top: 84px;
  height: 60px;
  background-color: red;
}

.footer {
  position: relative;
  left: 110px;
  top: 80px;
  width: 1280px;
  height: 360px;
  clear: both;
  background-color: darkgray;
}
